{# templates/projet/Backend/commentEdit.html.twig #}
{% extends 'base.html.twig' %}


{% block title %} Editer un commentaire {% endblock %}


{% block body %}


    <h2>Editer le commentaire :</h2>
    <div>

        {{ form_start(form) }}

        {{ form_widget(form) }}
        <button class="btn btn-secondary">Enregistrer</button>
        {{ form_end(form) }}

    </div>




{% endblock %}