{# templates/projet/Backend/profilPassword.html.twig #}
{% extends 'base.html.twig' %}


{% block title %} Profil {% endblock %}


{% block body %}

    <div>
        {{ form_start(form) }}

        {{ form_widget(form) }}
        <button class="btn btn-secondary">Enregistrer</button>
        {{ form_end(form) }}
    </div>

{% endblock %}