{# templates/projet/Frontent/PrivateMessage.html.twig #}
{% extends 'base.html.twig' %}


{% block title %} Envoyer un message privé {% endblock %}


{% block body %}


    <div class="row">
        <div class="col-lg-12">

            <h2 class="text-center post-main">Message privé pour {{ user.getUsername }}</h2>
            <div>
                {{ form_start(form) }}

                {{ form_widget(form) }}
                <button class="btn btn-primary">Envoyer le message</button>
                {{ form_end(form) }}
            </div>

        </div>
    </div>




{% endblock %}