{# templates/projet/login.html.twig #}
{% extends 'base.html.twig' %}


{% block title %} Se connecter {% endblock %}


{% block body %}

    <div class="container-fluid">
        
        <div class="row">
            <div class="col-12 text-center">
                <h3>Bonjour sur la page de connection !</h3>
                <p>Le travail avance peu à peu !</p>
            </div>
        </div>
        
    </div>



{% endblock %}