{# templates/projet/Security/login.html.twig #}
{% extends 'base.html.twig' %}


{% block title %} Se connecter {% endblock %}


{% block body %}

        {% if error %}
            <div class="alert alert-danger">Mauvais pseudo ou mot de passe !</div>
        {% endif %}


        <div class="container mt-4">

            <h3 class="text-center login-main">Se connecter</h3>
                <form action="{{ path('login') }}" method="post">
                    <div class="form-group col-lg-4 col-md-6 col-sm-8 offset-lg-4 offset-md-3 offset-sm-2 text-center">

                    <label for="username">Nom d'utilisateur</label>
                    <input type="text" id="username" name="_username" class="form-control" value="{{ last_username}}">

                    </div>

                    <div class="form-group col-lg-4 col-md-6 col-sm-8 offset-lg-4 offset-md-3 offset-sm-2 text-center">

                    <label for="password">Mot de passe</label>
                    <input type="password" id="password" name="_password" class="form-control">

                    </div>

                    <div class="text-center">
                    <button type="submit" class="btn btn-primary">Valider</button>
                    </div>
                </form>
        </div>


         <a href="{{path('create.account')}}" class="btn btn-primary">Créer un compte</a>


{% endblock %}